# Copy this into resources/application.yaml file
maatApi:
  oAuthEnabled: true
  baseUrl: ${MAAT_API_BASE_URL}

spring:
  security:
    oauth2:
      client:
        provider:
          maatapi:
            token-uri: ${MAAT_API_OAUTH_URL}
        registration:
          maatapi:
            client-id: ${MAAT_API_OAUTH_CLIENT_ID}
            client-secret: ${MAAT_API_OAUTH_CLIENT_SECRET}
            authorization-grant-type: client_credentials

      resourceserver:
        jwt:
          issuer-uri: ${means-assessment.security.issuer-uri}

maat-retry-config:
  max-retries: 2
  min-back-off-period: 3
  jitter-value: 0.5