server:
  port: 8089

management:
  server:
    port: 8188
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  packagesToScan: uk.gov.justice.laa.crime.dces.report
  show-actuator: true
  api-docs:
    path: /dces-report-service
    enabled: true

  swagger-ui:
    path: /open-api/docs.html
    enabled: true
    operationsSorter: method

services:
  maat-api:
    baseUrl: ${MAAT_API_BASE_URL}
    registrationId: ${MAAT_API_REGISTRATION_ID}
    oAuthEnabled: true
    maxBufferSize: 16

emailClient:
  notify:
    key: notify_test_key
    template-id: notify-template-id
    recipient: tariq.hossain@digital.justice.gov.uk

spring:
  mvc:
    format:
      date: dd.MM.yyyy
  security:
    oauth2:
      # Interactive/Web user authentication
      client:
        provider:
          maatapi:
            token-uri: ${MAAT_API_OAUTH_URL}
        registration:
          maatapi:
            client-id: ${MAAT_API_OAUTH_CLIENT_ID}
            client-secret: ${MAAT_API_OAUTH_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope:
              - ${MAAT_API_OAUTH_SCOPE}
      resource-server:
        jwt:
          issuer-uri: localhost:999/token
  # This is only needed to add support for executable beans (e.g. for serverless and AWS Lambada)
  cloud:
    function:
      web:
        path: /report
  scheduling:
    contributions:
      cron: "0-30/16 */1 * * * ?" # "0 0 5 5 * ?" (5th of every month at 05:00am)
    fdc:
      cron: "31-59/15 */1 * * * ?" # "0 20 5 5 * ?" (5th of every month at 05:20am)
