server:
  port: 8089 # Remember to keep Docker's ENV variable DCES_SERVER_PORT up to date with this

management:
  server:
    port: 8188
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  packagesToScan: uk.gov.justice.laa.crime.dces.report
  show-actuator: true
  api-docs:
    path: /dces-report-service
    enabled: true

  swagger-ui:
    path: /open-api/docs.html
    enabled: true
    operationsSorter: method

services:
  maat-api:
    baseUrl: ${MAAT_API_BASE_URL}
    registrationId: ${MAAT_API_REGISTRATION_ID}
    oAuthEnabled: true
    maxBufferSize: 16

emailClient:
  notify:
    key: ${NOTIFY_KEY}
    template-id: ${NOTIFY_TEMPLATEID}
    recipient: ${NOTIFY_RECIPIENT}

spring:
  mvc:
    format:
      date: dd.MM.yyyy
  security:
    oauth2:
      # Interactive/Web user authentication
      client:
        provider:
          maatapi:
            token-uri: ${MAAT_API_OAUTH_URL}
        registration:
          maatapi:
            client-id: ${MAAT_API_OAUTH_CLIENT_ID}
            client-secret: ${MAAT_API_OAUTH_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope:
              - ${MAAT_API_OAUTH_SCOPE}
  # Cron template: second   minute  hour  day-of-month  month  day-of-week
  # * is used to indicate include all; ? is used to ignore
  # secs and min range from 0-59, hour 0-23, month 1-12, day-of-month 1-31 (be aware of month day restrictions, day-of-week 1-7)
  scheduling:
    enabled: ${DCES_CRON_ENABLED}
    contributions:
      cron: ${DCES_CRON_CONTRIBUTIONS} # "0 0 5 5 * ?" # (5th of every month at 05:00am)
    fdc:
      cron: ${DCES_CRON_FDC} # "0 20 5 5 * ?" # (5th of every month at 05:20am)

sentry:
  debug: on
  dsn: https://cda1d7406f2ac58d5484fbbcea12d22c@o345774.ingest.sentry.io/4505674155753472
  traces-sample-rate: 1.0
  environment: DEV
  release: 1.0.0
  servername: aws-eks-container
  send-default-pii: true
  attach-stacktrace: true
  sample-rate: 0.05
  logging:
    minimum-event-level: info
