services:
  maat-api:
    baseUrl: https://maat-cd-api.dev.legalservices.gov.uk/api/internal/v1
    registrationId: maatapi
    oAuthEnabled: true
    maxBufferSize: 16

spring:
  mvc:
    format:
      date: dd.MM.yyyy
  security:
    oauth2:
      # Interactive/Web user authentication (not currently used)
      client:
        provider:
          maatapi:
            token-uri: https://maat-cd-api-dev.auth.eu-west-2.amazoncognito.com/oauth2/token
        registration:
          maatapi:
            client-id: 7p9a0fi8g9bj9d5ncapsdt5kl9
            client-secret: lcra7ktupqeooja6irqu3b4gqcmvml5coo5pnb7l1sf0uca78cv
            authorization-grant-type: client_credentials
            scope: maat-cd-api/standard
#       # MAAT REST API authentication
#      resource-server:
#        jwt:
#          issuer-uri: https://maat-cd-api-dev.auth.eu-west-2.amazoncognito.com/oauth2/token
