server:
  port: 8089 # remember to keep Docker's ENV variable DCES_SERVER_PORT up to date with port number here

management:
  server:
    port: 8188
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  packagesToScan: uk.gov.justice.laa.crime.dces.report
  show-actuator: true
  api-docs:
    path: /dces-report-service
    enabled: false

  swagger-ui:
    path: /open-api/docs.html
    enabled: false
    operationsSorter: method

services:
  maat-api:
    baseUrl: ${MAATCDAPI_BASEURL}
    oAuthEnabled: true
    maxBufferSize: 16

emailClient:
  notify:
    key: ${NOTIFY_KEY}
    template-id: ${NOTIFY_TEMPLATEID}
    recipient:
      default: ${NOTIFY_RECIPIENT}
      failures: ${NOTIFY_RECIPIENT_FAILURES}
    environment: ${HOST_ENV}

spring:
  mvc:
    format:
      date: dd.MM.yyyy
  security:
    oauth2:
      client:
        provider:
          maatapi:
            token-uri: ${MAATCDAPI_OAUTH2_TOKENURI}
        registration:
          maatapi:
            client-id: ${MAATCDAPI_OAUTH2_CLIENTID}
            client-secret: ${MAATCDAPI_OAUTH2_CLIENTSECRET}
            authorization-grant-type: client_credentials
            scope:
              - ${MAATCDAPI_OAUTH2_SCOPE}
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    generate-ddl: false

  # Cron template: second   minute  hour  day-of-month  month  day-of-week
  # default is disabled: "-"
  # * is used to indicate include all; ? is used to ignore
  # secs and min range from 0-59, hour 0-23, month 1-12, day-of-month 1-31 (be aware of month day restrictions, day-of-week 1-7 or MON-FRI etc.)
  scheduling:
    cron:
      contributions:
        monthly: ${DCES_CRON_CONTRIBUTIONS_MONTHLY:-} # "0 0 5 5 * ?" # (5th of every month at 05:00am)
        daily: ${DCES_CRON_CONTRIBUTIONS_DAILY:-} #"16-30/8 */5 * * * ?"
      fdc:
        monthly: ${DCES_CRON_FDC_MONTHLY:-} # "0 20 5 5 * ?" # (5th of every month at 05:20am)
        daily: ${DCES_CRON_FDC_DAILY:-} # "46-59/10 */5 * * * ?"
      failures:
        daily: ${DCES_CRON_FAILURES_DAILY:-} # "0 6 * * * ?"

sentry:
  debug: off
  dsn: https://cda1d7406f2ac58d5484fbbcea12d22c@o345774.ingest.sentry.io/4505674155753472
  # With a sample rate of 1, all traffic will be sent to Sentry. Note, this is only possible because this project will have very low traffic (2 calls  month)
  traces-sample-rate: 1.0
  environment: ${HOST_ENV}
  release: 1.0.0
  servername: aws-eks-container
  send-default-pii: true
  attach-stacktrace: true
  # With a sample rate of 1, all traffic will be sent to Sentry. Note, this is only possible because this project will have very low traffic (2 calls  month)
  sample-rate: 1.00
  logging:
    minimum-event-level: warn
    minimum-breadcrumb-level: info
  in-app-includes: uk.gov.justice.laa.crime.dces.report
logging:
  level:
    org:
      springframework: DEBUG
